<!DOCTYPE HTML>

<html>
    <head>
        <title>vue exercise</title>
        <meta charset="utf-8">

        <style type="text/css"></style>
    </head>
    <body>
        <div id="app">
            <button
                v-for="tab in tabs" 
                :key="tab"                
                @click="currentTab = tab">
                {{ tab }}
            </button>
            <keep-alive>
                <component :is="currentTabComponent"></component>
            </keep-alive>            
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            const vm = Vue.createApp({
                data() {
                    return {                       
                        currentTab: 'Home',
                        tabs: ['Home', 'Posts', 'Archive']
                    }
                },
                computed: {
                    currentTabComponent() {
                        return `tab-${ this.currentTab.toLowerCase() }`;
                    }
                }
            });

            vm.component('tab-home', {
                template: `<div><input v-model="title"></div>`,
                data: () => ({ title: 'Home omponent' })
            });

            vm.component('tab-posts', {
                template: `<div><input v-model="title"></div>`,
                data: () => ({ title: 'Posts component' })
            });

            vm.component('tab-archive', {
                template: `<div><input v-model="title"></div>`,
                data: () => ({ title: 'Archive component' })
            });

            vm.mount('#app');
        </script>
    </body>
</html>